// layouts/shortcodes/plantuml.html
{{ $baseUrl := site.Params.plantuml.baseUrl }}
{{ $content := .Inner }}

{{ $opts := dict
  "method" "POST"
  "body" $content
  "headers" (dict "Content-Type" "text/plain; charset=utf-8")
}}

{{ with resources.GetRemote $baseUrl $opts }}
  {{ $contentType := .MediaType.Type }}
  {{ if or (eq $contentType "image/svg+xml") (strings.Contains $contentType "svg") }}
    <div class="plantuml-svg">
      {{ .Content | safeHTML }}
    </div>
  {{ else if or (eq $contentType "image/png") (strings.Contains $contentType "png") }}
    <div class="plantuml-png">
      <img src="data:image/png;base64,{{ .Content | base64Encode }}" alt="PlantUML Diagram" />
    </div>
  {{ else }}
    <div class="error">Unexpected content type: {{ $contentType }}</div>
  {{ end }}
{{ else }}
  <div class="error">Failed to fetch PlantUML diagram</div>
{{ end }}
