<!-- layouts/shortcodes/plantuml.html -->
{{ $diagram := .Inner | strings.TrimSpace }}
{{ $id := md5 $diagram }}
<div style="max-width:100%; display:block; margin:auto;">
  <iframe 
    name="plantuml-{{ $id }}"
    style="width:100%; border:none; min-height:400px;"
    onload="console.log('Diagram loaded')"
  ></iframe>
</div>
<form 
  method="POST" 
  action="https://www.plantuml.com/plantuml/svg" 
  target="plantuml-{{ $id }}"
  style="display:none;"
>
  <textarea name="text">{{ $diagram }}</textarea>
</form>
<script>
  document.querySelector('form[target="plantuml-{{ $id }}"]').submit();
</script>
